# Editor
*.sublime*
.vscode/settings.json

# OSX
*.DS_Store

# NPM
**/node_modules/*
!**/node_modules/marko-ts-plugin

# Build
dist
*.marko.js
*.actual.*
*.tsbuildinfo
**/.vscode-test

# Logging
*.log

# Coverage
coverage
.nyc_output
