name: CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Use node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Format Code
        run: npm run lint
  test:
    runs-on: ubuntu-latest
    name: "test: node@${{ matrix.node }}"
    strategy:
      fail-fast: false
      matrix:
        node: [22, 24]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Use node@${{ matrix.node }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: xvfb-run -a npm test
  release:
    runs-on: ubuntu-latest
    needs: [lint, test]
    if: "${{ github.repository_owner == 'marko-js' && github.event_name == 'push' }}"
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Use node
        uses: actions/setup-node@v6
        with:
          node-version: 24
          cache: npm
      - name: Install dependencies
        run: npm ci
      - name: Release
        id: changesets
        uses: changesets/action@v1
        with:
          version: npm run version
          publish: npm run release
          commit: "[ci] release"
          title: "[ci] release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          OVSX_PAT: ${{ secrets.OVSX_PAT }}
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
