name: CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main, next, "*.x"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.20.3
      - name: Use node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Lint code
        run: pnpm run lint
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [14.x, 16.x]
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.20.3
      - name: Use node@${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Run tests
        run: pnpm run ci:test
      - name: Report code coverage
        uses: codecov/codecov-action@v2
  release:
    runs-on: ubuntu-latest
    needs: [lint, test]
    steps:
      - name: Check releasable
        if: ${{ github.repository == 'marko-js/language-server' && github.event_name == 'push' }}
        run: exit 0
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Install pnpm
        uses: pnpm/action-setup@v2.0.1
        with:
          version: 6.20.3
      - name: Prepare repository
        run: git fetch --unshallow --tags
      - name: Setup node
        uses: actions/setup-node@v2
        with:
          node-version: 16.x
          cache: "pnpm"
      - name: Install dependencies
        run: pnpm install
      - name: Release
        run: pnpm run release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
